{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": { 
    "no-console": 0 ,// Remember, this means error!
    "no-var":1,
    "sort-imports":1,
    "prettier/prettier": 2,
    "no-empty":1,
    "no-unreachable-loop":1,
    "no-unsafe-finally":1,
    "block-scoped-var":1,
    "curly":["error", "all"],
    "default-case":2,
    "no-extra-parens":2,
    "no-empty-function":1,
    "no-empty-pattern":1,
    "require-await":1,
    "camelcase":2
  }
}